extends layout

block content
  h1(class="title")= title
  if error
    h3= error
  if username
    p(class="curlogin") You are currently logged in as #{ username }
    span
      a(href="/logout" class="logout") Log out
    div
      form(method="post" action="/tweet" class="tweets")
        h2 Tell us what you're thinking!
        div(class="tweetinput")
          label I am thinking...
            input(type="text" name="twit" placeholder="twit")
        div
            input(type="submit" value="Say it!")
    div
      form(method="post" action="/tweet")
      h2 Latest Twits!
      each tweet in tweets
        div(class="tweet")=tweet.tweets
        div= tweet.username
  else
    div(class="backgrnd")
      p(class="regist_title") You are not logged in. Would you like to be?
      div
        form(method="post" action="/register" class="regist")
          h2 Register a new account
          div
            label E-mail:
            input(type="text" name="email" placeholder="e-mail")
          div
            label Username:
              input(type="text" name="username" placeholder="username")
          div
            label Password:
              input(type="password" name="password")
          div
            label Confirm Password:
              input(type="password" name="password_confirm")
          div(class="buttons")
            input(type="submit" value="Welcome!")
      div
        form(method="post" action="/login" class="login")
          h2 Log into an existing account
          div
            label Username:
              input(type="text" name="username" placeholder="username")
          div
            label Password:
              input(type="password" name="password")
          div(class="buttons")
            input(type="submit" value="Log in!")
    img(class="dandimg" src="/dandelion.jpg")
